cache/
backup/*
!backup/.gitkeep
ac-comphist.dat
.netrwhist
workspaceStorage
conf/VSCode/projects.json
link/.config/*
!link/.config/nvim
node_modules/
.atom/packages/
source/private.sh
conf/VSCode/*.backup
syncLocalSettings.json
sync.lock
repo/
