[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	dump = cat-file -p
	lg = log --graph --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
	hist = log --graph --full-history --all --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
	rp = pull --rebase
	clone1 = clone --depth=1
	des = describe
	latest-tag = describe --tags
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[user]
	name = towry
	email = tovvry@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	ignorecase = false
	excludesfile = /Users/towry/.gitignore_global
[merge]
	tool = p4mergetool
[mergetool]
	keepBackup = false
[credential]
	helper = store
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/towry/.stCommitMsg
[color]
	ui = true
