site-lisp/
!site-lisp/.gitkeep
auto-save-list/
elpa/
custom.el~
custom.el
.emacs.desktop
*.jar
history
.session
.emacs.desktop.lock
org-clock-save.el
backup/
!backup/per-session/.gitkeep
!backup/per-save/.gitkeep
!backup/autosave/.gitkeep
ac-comphist.dat
