auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
*.jar
.session
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
/.emacs.desktop
site-lisp/package/
/elpa
/elpa-*
/.historian

/*.el
/~init.el
